h1,
form {
	text-align: center;
}

.quil {
	width: 80px;
	position: relative;
	top: -200px;
	right: -100px;
	float: left;
}

h1 {
	font-size: 70px;
	color: #009E49;
	font-family: 'Indie Flower', cursive;
	margin: 15px 0 10px;
}

body {
	background-image: url(images/notepaper.jpg);
}

input {
	width: 300px;
	height: 20px;
	margin: 0px 0 30px;
	font-size: 20px;
	background-color: lightgreen;
	border: 1px solid;
	border-radius: 10px;
	text-indent: 10px;
}

button {
	width: 100px;
	color: white;
	background-color: #8CD701;
	font-size: 15px;
	border-radius: 10px;
}

button:hover {
	cursor: pointer;
}

ul {
	list-style-position: inside;
	list-style-type: none;
	margin-left: 260px
}

li {
	font-size: 30px;
	margin-bottom: 39px;
	font-family: 'Indie Flower';
}

#check {
	display: inline;
	width: 50px;
}

@media(max-width:910px) {
	body {
		background-image: url(images/notepaper1.jpg);
	}
	ul {
		margin-left: 25px;
	}
}

@media(max-width: 670px) {
	.quil {
		display: none;
	}
}